/* #root{
  background-color: darkgrey;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  font-family: 'Oxygen', sans-serif;
  /* width: 80%; */
  /* margin: 0 auto; */
  /* background-color:lightgrey; */
}



.header{
  transform: rotate(90deg);
  height: 25vh;
  background-image: url(./images/asoggetti-C4HO6MzEWrU-unsplash.jpg);
  transform: rotate(180deg);
  background-size: 100% 100%;
}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotate(180deg);
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: black;
}

.title{
  margin: 60px;
  padding: 5px;
  
  
}

.header-content h1{
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 5000;
  color: white;
  padding: 20px;
  font-family: "Audiowide", cursive;
}

.header-content h2{
  font-size: 1em;
  color: white;
}


.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.section-title{
  font-size: 3em;
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  margin: 0px 0px 50px 0px;
}


.contact{
  height: 20vh;
  background-image: url(./images/blake-richard-verdoorn-SbcqUQ4iEcI-unsplash.jpg);
  background-size: 100% 100%;


}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.contact-title{
  font-size: 1.5em;
  color: white;
  font-family: 'Audiowide', cursive;
  margin: 10px 0px 10px;
}


.projects{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;

}

.projects a{
  text-decoration: none;
  color: inherit;
}

.project-card{
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  align-items: center;
  border: 1px solid;
  border-radius: 6px;
}

.project-card img{
  width: 50%;
  border-right: 1px solid;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.card-title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-desc{
  width: 80%;
  line-height: 2;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills{
  margin-bottom: 0px;
  width: 80%;
}

.skills h3{
  margin-top: 25px;
  font-size: 2em;
  font-family: 'Audiowide', cursive;
}

.logos{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center

}

.logos img{
  height: 30%;
  border-radius: 1000px;
}

.about{
  width: 90%;
  margin-bottom: 50px;
}

.about h3{
  font-size: 2em;
  font-family: 'Audiowide', cursive;
  margin-bottom: 20px;
}

.about-content{
  line-height: 2;
}

.contact-form{
  /* align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  width: 50%;
  background-color: lightgrey;
}

.contact-info{
  display: flex;
  justify-content: space-around;
}

.contact-msg{
  height: 50%;
  width: 80%;
}