/* #root{
  background-color: darkgrey;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  font-family: 'Oxygen', sans-serif;
  /* width: 80%; */
  /* margin: 0 auto; */
  /* background-color:lightgrey; */
}



.header{
  transform: rotate(90deg);
  height: 33vh;
  background-image: url(./images/asoggetti-C4HO6MzEWrU-unsplash.jpg);
  transform: rotate(180deg);
  background-size: 100% 100%;
}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotate(180deg);
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: black;
}

.title{
  margin: 40px;
  padding: 5px;
}

.header-content h1{
  letter-spacing: 5px;
  font-size: 4em;
  font-weight: 5000;
  color: white;
  padding: 20px;
}

.header-content h2{
  color: white;
}

.social{

}

.body{
  align-items: center;
  height: 40vh;
}



.contact{
  height: 30vh;
  background-image: url(./images/blake-richard-verdoorn-SbcqUQ4iEcI-unsplash.jpg);
  background-size: 100% 100%;
}

.projects{
  display: flex;

}

.project-card{
  display: flex;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  border: 1px solid;
}

.project-card img{
  width: 50%;
  border-right: 1px solid;
}

.card-content{
  align-self: center;
}